<center><h1>WELCOME TO CHESSS</h1>
<table>
<% @game.board.to_s.split("\n").each do |line| %>
<tr>
<%= line %>
</tr>
<br>
<% end %>
</table>
<br>

<% if @game.whites_turn %>
<h2><%= "It is White's turn" %></h2>
<% else %>

<h2><%= "It is Black's turn" %></h2>
<% end %>

  
  <% (0..7).each do |n| %>
      <div class="col">
      
      <% 8.times do |i| %>
      
        <% if ((i + n) % 2 == 0) %>
      
        <div style="background-color:green;" 
        class="space" id="<%= n %>x<%= i %>y">
          <% piece = @game.board[n,i] %>
          <% if piece %>
            <span id="<%= piece.html %>"><%= piece %></span>
          <% end %>
        </div>
        <% else %>
      
        <div style="background-color:white;" 
        class="space" id="space<%= n %><%= i %>">
          <% piece = @game.board[n,i] %>
          <% if piece %>
            <span id="<%= piece.html %>"><%= piece %></span>
          <% end %>
        </div>
        <% end %>
        
      <% end %>


      </div>

  <% end %>
  

  </div>
  
  </center>


  
