<center>

  <h2 id="maintitle">CHESS</h2>

  

<form action="/new" method="get">

<button>New Game</button>
</form>

<% if flash[:notice] %>
    <h2 class="notice" ><%= flash[:notice] %></h2>
<% else %>
    <h2 class="notice">Move When Ready</h2>
<% end %>

<% if !@game.whites_turn %>
<h1 style="background-color: black; width: 426px;">
<span class="black">Black's turn</span>
</h1>
<% else %>
<h1 style="background-color: lightgrey; width: 426px;">
<span class="white">White's turn</span>
</h1>
<% end %>

  
  <% (0..7).each do |n| %>
      <div class="col">
      
      <% 8.times do |i| %>
      
        <% if ((i + n) % 2 == 0) %>
      
        <div style="background-color:white;" 
        class="space" id="<%= n %>x<%= i %>y">
          <% piece = @game.board[n,i] %>
          <% if piece %>
            <span id="<%= piece.html %>"><%= piece %></span>
          <% end %>
        </div>
        <% else %>
      
        <div style="background-color:green;" 
        class="space" id="<%= n %>x<%= i %>y">
          <% piece = @game.board[n,i] %>
          <% if piece %>
            <span id="<%= piece.html %>"><%= piece %></span>
          <% end %>
        </div>
        <% end %>
        
      <% end %>


      </div>

  <% end %>
  

  </div>
  <br><br>
  
  <% if @game.whites_turn %>
  <h1 style="background-color: lightgrey; width: 431px;">
    <span class="white">White's turn</span>
  </h1>
  <% else %>
  <h1 style="background-color: black; width: 431px;">
    <span class="black">Black's turn</span>
  </h1>
  <% end %>
  
  <% if flash[:notice] %>
      <h2 class="notice"><%= flash[:notice] %></h2>
  <% else %>
      <h2 class="notice">Move When Ready</h2>
  <% end %>
  
  
  
  </center>
<h6>Visit Count: <%= @visit_count.to_s %></h6>

  
